@charset  "utf-8";


@font-face {
    font-family: 'DINWeb';
    src: url('DINWeb.eot') format('embedded-opentype');
}

body {
    font: normal 100% Cambria, Georgia, "Times New Roman", Times, serif;
    line-height: 1.5em;
    margin: 0;
    background-color: #a6192e;
    align-content: center;
}

header {
  background-color: #3a3734;
}
h1 {
  font-family: 'DINWeb';
}
.topBottom {
  background-color: #3a3734;
}
.mainTable
{
  width: 100%;
}
.mainContent {
  background-color: #fff;
}
.subTable
{
  background-color: #e9eff1;
}

.tableHead {
  background-color: #dddddd;
}

.closing {
  background-color: #3a3734;
}
.margins
{
  width: 5%;
}
