<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width" name="viewport">
    <%= javascript_include_tag 'calculator', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <title>Raj Mahey's Personal Website</title>
    </script>
</head>
<body>
  <header>
    <nav>
    </nav>
  </header>
  <div>
  <table class="mainTable">
    <tr>
      <td class= "margins">
      </td>
      <td class="topBottom">
        <br>
      </td>
      <td class = "margins">
      </td>
    </tr>
  </table>
  <table class="mainTable">
    <tr>
      <td class= "margins">
      </td>
      <td class="mainContent">
        <br>
        <h1>
          Grade Calculator

        </h1>
        <div class="subDiv">
          <div class="innerDiv" >
            <h3>
              Activities

            </h3>

            Give Grades to the numeric activities:
            <br><br>
            <form>

              <table border = "1" class = "inputForm">
                <tr class="tableHead">
                  <td class>
                    Name
                  </td>
                  <td>
                    Short Name
                  </td>
                  <td>
                    Weight
                  </td>
                  <td>
                    Grade
                  </td>
                  <td>
                    Percent
                  </td>

                </tr>
                <tr>
                  <td>
                    Activity 1
                  </td>
                  <td>
                    A1
                  </td>
                  <td>
                    <input type="text" name="weight1">
                  </td>
                  <td>
                    <input type="text" name="num1">/ <br>
                    <input type="text" name="den1">
                  </td>
                  <td>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td>
                    Activity 2
                  </td>
                  <td>
                    A1
                  </td>
                  <td>
                    <input type="text" name="weight2">
                  </td>
                  <td>
                    <input type="text" name="num2">/ <br>
                    <input type="text" name="den2">
                  </td>
                  <td>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td>
                    Activity 3
                  </td>
                  <td>
                    A1
                  </td>
                  <td>
                    <input type="text" name="weight3">
                  </td>
                  <td>
                    <input type="text" name="num3">/ <br>
                    <input type="text" name="den3">
                  </td>
                  <td>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td>
                    Activity 4
                  </td>
                  <td>
                    A1
                  </td>
                  <td>
                    <input type="text" name="weight4">
                  </td>
                  <td>
                    <input type="text" name="num4">/ <br>
                    <input type="text" name="den4">
                  </td>
                  <td>
                    <br>
                  </td>
                </tr>

              </table>
              <h3>
                Result
              </h3>
              <div class="left">
                <p id="results">
                  RESULT HERE
                </p>
              </div>
              <div class = "right">
                <p>
                <input type="submit" name="weighted" value="WEIGHTED">
                <input type="submit" name="mean" value="MEAN">
                </p>
              </div>
            </form>
          </div>
          <br><br><br>
        </div>
      </td>
      <td class = "margins">
      </td>
    </tr>
  </table>
  <table class="mainTable">
    <tr>
      <td class= "margins">
      </td>
      <td class="topBottom">
        <br><br>
      </td>
      <td class = "margins">
      </td>
    </tr>
  </table>
</div>
  <footer>
    <br />
    <br />
  </footer>

</body>

</html>
