<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width" name="viewport">
    <%= javascript_include_tag 'calculator', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <title>Raj Mahey's Personal Website</title>
    </script>
</head>
<body>
  <header>
    <nav>
    </nav>
  </header>
  <div>

  <table class="mainTable">
    <tr>
      <td class= "margins">
      </td>
      <td class="topBottom">
        <br>
      </td>
      <td class = "margins">
      </td>
    </tr>

    <tr>
      <td class= "margins">
      </td>
      <td class="mainContent">
        <br>
        <h1>
          Grade Calculator
        </h1>
        <div class="subDiv">
          <div class="innerDiv" >
            <h3>
              Activities

            </h3>

            Give Grades to the numeric activities:
            <br><br>

              <table border = "1" class = "inputForm" name = "formTable" id = "table1">
                <tr class="tableHead">
                  <td class>
                    Name
                  </td>
                  <td>
                    Short Name
                  </td>
                  <td>
                    Weight
                  </td>
                  <td>
                    Grade
                  </td>
                  <td>
                    Percent
                  </td>

                </tr>
                <tr name = "formRow">
                  <td>
                    Activity 1
                  </td>
                  <td>
                    A1
                  </td>
                  <td>
                    <input type="text" name="weight" value="0">
                  </td>
                  <td>
                    <input type="text" name="num" value="0">/ <br>
                    <input type="text" name="den" value="0">
                  </td>
                  <td>
                    <p name = "percent"></p>
                  </td>
                </tr>
                <tr name = "formRow">
                  <td>
                    Activity 2
                  </td>
                  <td>
                    A2
                  </td>
                  <td>
                    <input type="text" name="weight" value="0">
                  </td>
                  <td>
                    <input type="text" name="num" value="0">/ <br>
                    <input type="text" name="den" value="0">
                  </td>
                  <td>
                    <p name = "percent"></p>
                  </td>
                </tr>
                <tr name = "formRow">
                  <td>
                    Activity 3
                  </td>
                  <td>
                    A3
                  </td>
                  <td>
                    <input type="text" name="weight" value="0">
                  </td>
                  <td>
                    <input type="text" name="num" value="0">/ <br>
                    <input type="text" name="den" value="0">
                  </td>
                  <td>
                    <p name = "percent"></p>
                  </td>
                </tr>
                <tr name = "formRow">
                  <td>
                    Activity 4
                  </td>
                  <td>
                    A4
                  </td>
                  <td>
                    <input type="text" name="weight" value="0">
                  </td>
                  <td>
                    <input type="text" name="num" value="0">/ <br>
                    <input type="text" name="den" value="0">
                  </td>
                  <td>
                    <p name = "percent"></p>
                  </td>
                </tr>
                <br>
              </table>
              <h3>

              </h3>
              <div class="left">
              <input type="button" onclick="addRow();" name="add" value="ADD ROW">
              <input type="button" onclick="rmRow();" name="rm" value="REMOVE ROW">
              <input type="button" onclick="wow();" name="wow" value="WOW">
            </div> <br><br>
            <h3>
               Result:
            </h3>

              <div class="left">
                <p id="results">
                  <br>
                </p>
                <div class= "toad" id="toad">
                    <%= image_tag("toad.gif", :alt => "RainbowToad") %>
                </div>

            </div>
              <div class = "right">
                <p>
                <input type="button" onclick="calculateWeighted();" name="weighted" value="WEIGHTED">
                <input type="button" onclick="calculateMean();" name="mean" value="MEAN">
                </p>
              </div>
          </div>
          <br><br><br>
        </div>
      </td>
      <td class = "margins">
      </td>
    </tr>
    <tr>
      <td class= "margins">
      </td>
      <td class="topBottom">
        <br><br>
      </td>
      <td class = "margins">
      </td>
    </tr>
  </table>

</div>
  <footer>
    <br />
    <br />
  </footer>

</body>

</html>
