/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @charset  "utf-8";


 @font-face {
     font-family: 'DINWeb';
     src: url('DINWeb.eot') format('embedded-opentype');
 }

 body {
     font: normal 100% Cambria, Georgia, "Times New Roman", Times, serif;
     line-height: 1.5em;
     margin: 0;
     background-color: #a6192e;
     align-content: center;
 }

 header {
   background-color: #3a3734;
 }
 h1 {
   font-family: 'DINWeb';
 }
 .topBottom {
   background-color: #3a3734;
 }
 .mainTable
 {
   width: 100%;
 }
 .mainContent {
   background-color: #fff;
 }
 .subTable
 {
   background-color: #e9eff1;
 }

 .tableHead {
   background-color: #dddddd;
 }

 .closing {
   background-color: #3a3734;
 }
 .margins
 {
   width: 5%;
 }
